.huge-overlay.huge-overlay-simplegenie(style='background:url(' + background + ')')
  .body
    !=html
    a.btn.btn-primary.btn-lg(href="#")=t('huge-overlay.close')
    br
    a.btn.btn-danger.btn-lg(href="/como-funciona") ¿Cómo funciona?
