#about
  margin 30px auto
  position relative

  .entry-tag
    font-weight bold
    font-size 14px
    text-transform uppercase
    text-align center
    position absolute
    left -90px
    width 100px

    .question-mark
      position absolute
      left 16px

    .hexagon
      width 80px
      height 80px

    .text
      display block
      margin-top 6px

  img.cover
    width 100%