#about.inner-container
  .entry-tag(style="border-color: #00708f")

    img.question-mark(src='https://cldup.com/xFDrT3z4_P.svg')

    svg(viewbox='0 0 126 144', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', xmlns:sketch='http://www.bohemiancoding.com/sketch/ns').hexagon
      title Hexagon
      description Created with Sketch (http://www.bohemiancoding.com/sketch)
      g#Page-1(fill='none', fill-rule='evenodd', sketch:type='MSPage')
        polygon#Polygon-1(d='M63,0 L125.353829,36 L125.353829,108 L63,144 L0.646170928,108 L0.646170928,36 L63,0 Z M63,0', fill='#006699', sketch:type='MSShapeGroup', points='63 0 125.353829 36 125.353829 108 63 144 0.646170928 108 0.646170928 36 ')

    span.text(style="color: black") DEMOS
  h3 ¿Qué es DEMOS?
  p Demos Bahía Blanca, es una instancia desarrollada entre la #[a(href='http://democraciaenred.org/' target='_blank') Fundación Democracia en Red] y la #[a(href='http://gabierto.bahiablanca.gov.ar/la-agencia/' target='_blank') Agencia de Gobierno Abierto del Municipio de Bahía Blanca], para acercarle a los bahienses una nueva herramienta de participación ciudadana.
  p Utilizando la herramienta #[a(href='http://democracyos.org/' target='_blank'): i DemocracyOS], el ciudadano-usuario se encontrará con distintos proyectos, al ingresar tendrá una introducción al mismo, y la posibilidad de debatir y votar el proyecto en general y apartados en particular.
  p En cada sección se pueden hacer comentarios, debatir con otros ciudadanos, y valorar los comentarios. Existe también información adicional para mejorar el debate.
  p Por último, se puede compartir el proyecto por redes sociales para que más bahienses den su opinión sobre las políticas públicas para la ciudad.
  h3 ¿Cómo se definieron los proyectos seleccionados?
  p Los proyectos seleccionados corresponden al Poder Ejecutivo y a cinco de los bloques del Concejo Deliberante. El plazo para que puedas participar será del 11 al 25 de noviembre.
  h3 ¿Para qué sirve debatir estos proyectos?
  p Con la implementación de DEMOS, Bahía Blanca da un paso inédito en materia de proceso legislativo. Por primera vez, los ciudadanos tenemos la posibilidad de informarnos, debatir y votar Proyectos de Ley reales mediante las nuevas tecnologías.
  p El diseño de DEMOS le otorga especial importancia al #[b debate] entre los ciudadanos para que los argumentos de los bahienses sirvan para mejorar las leyes que nos rigen a todos.

  br
  p.text-right: small: strong Ante cualquier duda duda o sugerencia escribinos a <a href="mailto:bahiablanca@democracyos.org">bahiablanca@democracyos.org</a>