@keyframes bounce
  0%, 20%, 50%, 80%, 100%
    transform translateX(0)
    -webkit-transform translateX(0)
    -o-transform translateX(0)
    -moz-transform translateX(0)
    -ms-transform translateX(0)
  40%
    transform translateX(20px)
    -webkit-transform translateX(20px)
    -o-transform translateX(20px)
    -moz-transform translateX(20px)
    -ms-transform translateX(20px)
  60%
    transform translateX(10px)
    -webkit-transform translateX(10px)
    -o-transform translateX(10px)
    -moz-transform translateX(10px)
    -ms-transform translateX(10px)

.next-law
  background:#cae4f6

  a
    color #008fb6
    height 60px
    padding 0
    line-height 60px
    &:hover
      color #00708f

  .glyphicon
    animation bounce 2s infinite
    -webkit-animation bounce 2s infinite
    -o-animation bounce 2s infinite
    -moz-animation bounce 2s infinite
    -ms-animation bounce 2s infinite