#tutorial-container.container
  .row
    .col-md-12
      .tutorial-wrapper
        .tutorial-container
          .tutorial.swipe(data-tutorial)
            .swipe-wrap
              .item.paso-1
                h2 ¿Cómo se organizan los Proyectos?
              .item.paso-2
                h2 ¿Cómo comentar en un Proyecto?
              .item.paso-3
                h2 ¿Cómo calificar los Argumentos?
              .item.paso-4
                h2 ¿Cómo votar los Proyectos?
          .tutorial-points
            .point.active(data-tutorial-point="1")
            .point(data-tutorial-point="2")
            .point(data-tutorial-point="3")
            .point(data-tutorial-point="4")
