#tutorial-container
  max-width: 960px

  .tutorial-wrapper
    overflow: hidden

  .tutorial-container
    position: relative
    margin: 0 auto
    border-top: 6em solid transparent
    border-bottom: 3em solid transparent

    &:after
      content: ''
      display: block
      padding-top: 36%

      @media all and (orientation: portrait)
        padding-top: 90%

  .tutorial
    visibility: hidden
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%

    .swipe-wrap
      position: relative
      width: 100%
      height: 100%

    .item
      float: left
      position: relative
      width: 100%
      height: 100%
      background-size: cover
      background-color: #f9f9f9
      background-repeat: no-repeat
      background-position: center center

    h2
      position: absolute
      bottom: 100%
      left: 0
      width: 100%
      margin: 1em 0 .8em
      font-weight: lighter

    .paso-1
      background-image: url('https://cldup.com/jMd3sPDZP3.gif')
    .paso-2
      background-image: url('https://cldup.com/l_1Rl1EXet.gif')
    .paso-3
      background-image: url('https://cldup.com/8ckJrMvY-s.gif')
    .paso-4
      background-image: url('https://cldup.com/ZnmIIhYR-q.gif')

    @media all and (orientation: portrait)
      .paso-1
        background-image: url('https://cldup.com/u-lWB8vgzI.gif')
      .paso-2
        background-image: url('https://cldup.com/HV6LKsXuX3.gif')
      .paso-3
        background-image: url('https://cldup.com/-_q3Fdo2YJ.gif')
      .paso-4
        background-image: url('https://cldup.com/MbAC4g-FxJ.gif')

  .tutorial-points
    position: absolute
    top: 100%
    left: 0
    width: 100%
    text-align: center

    .point
      position: relative
      display: inline-block
      width: 2em
      height: 2.7em
      margin: 0 5px
      cursor: pointer

      &.active:after
        background: rgba(#333, .9)

      &:after
        content: ''
        position: absolute
        left: 50%
        top: 50%
        margin: -2px 0 0 -2px
        width: 4px
        height: 4px
        border-radius: 50%
        background: rgba(#333, .2)
        -webkit-transition: all .3
        transition: all .3

