#tutorial-container
  .title
    margin-top 0px
    margin-bottom 30px

  #carousel-container
    padding-bottom 20px

  .carousel
    background-position-y 0px

    .btn-lg.skip
      position absolute
      bottom 5
      right 30
    .btn-sm.skip
      position absolute
      bottom 5
      right 20
    .btn-md.skip
      position relative
      top 470px
    .hidden-md
      .skip
        top 463px
        position relative

    .step1
      .hidden-xs
        height 300px
        background url('/lib/tutorial/images/tutorial-paso1.gif') no-repeat
        background-position center
        position relative
      .hidden-sm.hidden-md.hidden-lg
        height 500px
        background url('/lib/tutorial/images/tutorial-paso1-mobile.gif') no-repeat
        background-position center
        .carousel .carousel-visible
          height 500px
    .step2
      .hidden-xs
        height 300px
        background url('/lib/tutorial/images/tutorial-paso2.gif') no-repeat
        background-position center
        position relative
      .hidden-sm.hidden-md.hidden-lg
        height 500px
        background url('/lib/tutorial/images/tutorial-paso2-mobile.gif') no-repeat
        background-position center
        .carousel .carousel-visible
          height 500px
    .step3
      .hidden-xs
        height 300px
        background url('/lib/tutorial/images/tutorial-paso3.gif') no-repeat
        background-position center
        position relative
      .hidden-sm.hidden-md.hidden-lg
        height 500px
        background url('/lib/tutorial/images/tutorial-paso3-mobile.gif') no-repeat
        background-position center
        position relative
        .carousel .carousel-visible
          height 500px
    .step4
      .hidden-xs
        height 300px
        background url('/lib/tutorial/images/tutorial-paso4.gif') no-repeat
        background-position center
        position relative
      .hidden-sm.hidden-md.hidden-lg
        height 500px
        background url('/lib/tutorial/images/tutorial-paso4-mobile.gif') no-repeat
        background-position center
        .carousel .carousel-visible
          height 500px

  .carousel .carousel-visible
    height auto

  .btn-prev, .btn-next
    cursor pointer
    position absolute
    top 125px
    z-index 1
    width 40px
    height 50px
    transition all 0.7s ease
    opacity .5

  .btn-prev
    left 50px
    background url('/lib/tutorial/images/prev.svg') no-repeat

  .btn-next
    right 50px
    background url('/lib/tutorial/images/next.svg') no-repeat

  #carousel-footer
    padding-bottom 30px