#tutorial-container
  max-width: 960px

  .tutorial-wrapper
    overflow: hidden

  .tutorial-container
    position: relative
    margin: 0 auto
    border-top: 6em solid transparent
    border-bottom: 3em solid transparent

    &:after
      content: ''
      display: block
      padding-top: 36%

      @media all and (orientation: portrait)
        padding-top: 90%

  .tutorial
    visibility: hidden
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%

    .swipe-wrap
      position: relative
      width: 100%
      height: 100%

    .item
      float: left
      position: relative
      width: 100%
      height: 100%
      background-size: cover
      background-color: #f9f9f9
      background-repeat: no-repeat
      background-position: center center

    h2
      position: absolute
      bottom: 100%
      left: 0
      width: 100%
      margin: 1em 0 .8em
      font-weight: lighter

    amount = 4
    for i in (1..amount)
      .paso-{i}
        background-image: url('/lib/tutorial/images/tutorial-paso' + i + '.gif')

    @media all and (orientation: portrait)
      for i in (1..amount)
        .paso-{i}
          background-image: url('/lib/tutorial/images/tutorial-paso' + i + '-mobile.gif')

  .tutorial-points
    position: absolute
    top: 100%
    left: 0
    width: 100%
    text-align: center

    .point
      position: relative
      display: inline-block
      width: 2em
      height: 2.7em
      margin: 0 5px
      cursor: pointer

      &.active:after
        background: rgba(#333, .9)

      &:after
        content: ''
        position: absolute
        left: 50%
        top: 50%
        margin: -2px 0 0 -2px
        width: 4px
        height: 4px
        border-radius: 50%
        background: rgba(#333, .2)
        -webkit-transition: all .3
        transition: all .3

