nav.sidebar-nav
  #filter-container.dropdown-department

  #list-container
  .back-container.text-center
    a(href='/').btn.btn-primary
      span.glyphicon.glyphicon-chevron-left
      =t('sidebar.back')
